<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="El_Balcon_de_Chalita.Properties.Settings.ConnectionString"
            connectionString="Dsn=Balcon Chalita;uid=u784049580_balcondechali"
            providerName="System.Data.Odbc" />
        <add name="El_Balcon_de_Chalita.Properties.Settings.ConnectionString1"
            connectionString="Dsn=bdbalcon2;uid=root" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>